{% extends "base.html" %}
{% block content %}
    {% for product in data  %}
                        <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">

                            <h3 class="product-title">{{ product.name }}</h3>
                            <strong class="product-price">${{ product.price }}</strong>
                           
                        </a>
                    </div>
                    {% endfor %}
{% endblock  %}