{% extends "base.html" %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Description</label>
            <input type="text" class="form-control" id="price" name="description" >
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Price</label>
            <input type="text" class="form-control" id="description" name="price" >
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Ảnh</label>
            <input type="file" class="form-control" id="image" name="image" >
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity" name="quantity" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}